In [1]:
import pandas as pd
from tqdm import tqdm
import re
import matplotlib.pyplot as plt
import numpy as np
from functools import lru_cache
from nltk.corpus import stopwords
import nltk

In [3]:
df = pd.read_csv("all_MIU_firms_location_sectors_products_cleaned.csv", encoding="latin1")
df.head()

,Unnamed: 0,std_name,company_name,company_website_link,company_location_State_from_the_list,company_location_City_from_the_list,manual_state,manual_city,manual_zip,manual_full_address,sector1_abb,sector1_long,sector2,product 1,product 2,sector_long
0,1,11industries,11 Industries,https://11industries.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,11wellsspirits,11 Wells Spirits,https://www.11wells.com,MN,NaN,Minnesota,St. Paul,55106,"704 Minnehaha Ave E. St. Paul, MN 55106",NaN,NaN,NaN,Cocktails,NaN,NaN
2,3,14throse,14th Rose,https://14throse.com/,NaN,NaN,CA,San Pedro,90731,"732 W 7th Street #18 San Pedro, CA 90731",RET,NaN,NaN,Handbags,NaN,NaN
3,4,1919cookware,1919 Cookware,https://www.regalware.com,Wisconsin,West bend,Wisconsin,Milwaukee,53224,"11270 W Park Place Suite 800 Milwaukee, WI 53224",WFPM,"Wood, Furniture & Paper Manufacturing",NaN,Cookware,NaN,"Wood, Furniture & Paper Manufacturing WFPM"
4,5,20degeesbelow,20 Degees below,https://20below.net,PhiladelphiaÂ,NaN,PA,Jamison,18929,"1662 Mayfield Circle Jamison, PA 18929",RET,NaN,NaN,Jackets,Swim parkas,NaN

In [9]:
df['sector_long'] = df['sector_long'].apply(lambda x: x.lower().strip() if isinstance(x, str) else x)
df['sector_long'].value_counts()

sector_long
travel, personal & leisure tpl                                     331
textiles & clothing manufacturing tcm                              268
wood, furniture & paper manufacturing wfpm                         204
metals & metal products mmp                                        169
food & tobacco manufacturing ftm                                   161
transport manufacturing tm                                         116
miscellaneous manufacturing mm                                      97
industrial, electric & electronic machinery ieem                    94
utilities u                                                         45
leather, stone, clay & glass products lscg                          36
chemicals, petroleum, rubber & plastic cprp                         35
agriculture, horticulture & livestock ahl                           22
retail ret                                                          20
transport, freight & storage tfs                                    19
computer hardware ch                                                10
property services ps                                                 9
public administration, education, health social services paehss      7
computer software cs                                                 5
waste management & treatment wmt                                     3
business services bs                                                 2
biotechnology and life sciences bls                                  2
construction con                                                     2
communications com                                                   1
media & broadcasting mb                                              1
Name: count, dtype: int64